<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Document</title>
    <style>
    .grid-set{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }
    .grid-set > div{
        min-height: 100vh;
        background-color: beige;
    }
    </style>
</head>
<body>
    <div>
        <h2>demasia</h2>
        <div class = "grid-set">
            <div class= "1st"></div>
            <div class= "2nd"></div>
            <div class= "3rd"></div>
            
            <div class= "card-img"></div>
            <div class= "card-img"></div>
            <div class= "full-img"></div>
            
            <div class= "full-img"></div>
            <div class= "full-img"></div>
            <div class= "full-img"></div>
            
            <div class= "full-img"></div>
            <div class= "full-img"></div>
            <div class= "full-img"></div>

            <div class= "full-img"></div>
            <div class= "full-img"></div>
            <div class= "full-img"></div>

        </div>



    </div>
    

</body>
</html>